*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: cadetblue;
    /*font-family: 'Bitter', serif;*/
    /*font-family: 'Satisfy', cursive;*/
    /*font-family: 'Lobster', cursive;*/
    /*font-family: 'Baloo Bhai 2', cursive;*/
}



h1{
    text-align: center;
    margin: 30px;
}

.container{
    background-color: lightsalmon;
    width: 60%;
    height: min-content;
    padding: 50px;
    border-radius: 20px;
}
.title{
    display: flex;
    justify-content: flex-end;
}
.dropdown-item{
    cursor: pointer;
}
p{
    color: red;
    text-align: center;
}
.btn{
    color: aliceblue;
    font-weight: bold;
    background-color: forestgreen;
}
.input-group{
    background-color: aquamarine;
    padding: 20px ;
    border-radius: 20px;
}
#update-group{
    background-color: #3b3b93;
    padding: 20px ;
    border-radius: 20px;
}

.showTodo{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border: 3px solid black;
    padding: 5px 15px;
    height: min-content;
    border-radius: 20px;
    background-color: purple;
    color: whitesmoke;
}

.entry{
    width: 60%;
    font-weight:500;
}

.deleteBtn{
    background-color: red;
}

